quart~=0.18.4
quart-cors
tqdm~=4.65.0
tiktoken~=0.4.0
libcst~=0.4.9
langchain~=0.0.174
numpy~=1.24.3
aiohttp~=3.8.4
scikit-learn~=1.2.2
azure-core
python-grpc
qdrant_client
InstructorEmbedding
sentence_transformers
aioquic
